* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #2AABEE;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#emoji {
    padding-top: 2%;
    font-size: 2.8em;
}

.container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drop_zone {
    background-color: #fff;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0px 5px 15px #191414;
    width: 30%;
    height: 35%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.choose-photo {
    font-size: 1.6em;
    cursor: pointer;
}

.choose-photo:hover {
    color: #2AABEE;
}

.on-dragover {
    /* background-color: #a7a7a7; */
}

.notification {
    position: absolute;
    top: 0;
    right: 0;

    background: green;
    width: 20%;
    /* height: 10%; */

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.6em;
    color: #fff;

    padding: 0.25em;
    border-radius: 0px 0px 0px 10px;
}

@media only screen and (max-width: 800px) {

    .drop_zone {
        width: 65%;
        height: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .choose-photo {
        font-size: 1.5em;
    }

    #emoji {
        padding-top: 5%;
    }
}
